# API Keys — NUNCA subir a GitHub
.env
.env.key

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
env/
.conda/

# IDEs
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log